# Created by .ignore support plugin (hsz.mobi)
**/target/
/wiki/
/.idea/*
/src/main/resources/*
!/src/main/resources/log4j.properties
# Only allow specific runConfigurations as they may contain tokens
!/.idea/runConfigurations/Run.xml
!/.idea/runConfigurations/Generate_scaladoc.xml
!/.idea/runConfigurations/Build_Project.xml
# Ignore shell scripts as they may contain tokens
*.sh
*.bat
